{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <table>
        <thead>
        <tr>
            <th>2 weeks ago</th>
            <th>week ago</th>
            <th>today</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <table>
                    {% for exercise in exercises|slice(1, 3) %}
                        <tr>
                            <td>{{ exercise.description }}</td>
                            <td>{{ exercise.weight }} x {{ exercise.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    {% for exercise in exercises|slice(3, 6) %}
                        <tr>
                            <td>{{ exercise.description }}</td>
                            <td>{{ exercise.weight }} x {{ exercise.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            <td>
                <table>
                    {% for exercise in exercises|slice(6, 9) %}
                        <tr>
                            <td>{{ exercise.description }}</td>
                            <td>{{ exercise.weight }} x {{ exercise.count }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock %}